<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>Reachable Area</title>
    {{map.header.render|safe}}
</head>

<body>
<form action="" method="get" id="container">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="検索">
</form>
{{map.html.render|safe}}
<script>
    {{map.script.render|safe}}
</script>
</body>

<style>
    #id_base_point {
        min-width: 400px;
        width: 40%;
        height: 25px;
    }
    #container {
        display: flex;
    }
    .folium-map {
        /*参考: https://stackoverflow.com/questions/45938555/use-calc-with-max-height*/
        max-height: calc(100vh - 25px);
    }
</style>

</html>