<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>Reachable Area</title>
    {{map.header.render|safe}}
</head>

<body>
<form action="" method="get" id="container">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="検索">
</form>
{{map.html.render|safe}}
<script>
    {{map.script.render|safe}}
</script>
</body>

<style>
    #id_base_point {
        min-width: 400px;
        width: 40%;
        height: 25px;
    }
    #container {
        display: flex;
    }
    .folium-map {
        /*width: 400px;*/
        /*height: 400px;*/
        /*margin-bottom: 200px;*/
        /*margin-top: 200px;*/
        /*margin: 100px;*/
        /*padding-top: 100px;*/
        /*padding-bottom: 100px;*/
        max-height: calc(100vh - 25px);
    }
</style>

</html>